<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>598636726190-iffmudt5gun4lk4ccdavvj2kkm1k70ek.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.598636726190-iffmudt5gun4lk4ccdavvj2kkm1k70ek</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>598636726190-9acmobm87et7lkfve688ko6tp96fj1kt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCIE7HcC_k5TkfquXBByzWXLFts4YoGVGY</string>
	<key>GCM_SENDER_ID</key>
	<string>598636726190</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.roshetta.dashboard</string>
	<key>PROJECT_ID</key>
	<string>roshetta-6e3ny2</string>
	<key>STORAGE_BUCKET</key>
	<string>roshetta-6e3ny2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:598636726190:ios:484d70af96551372792a3f</string>
</dict>
</plist>